{% extends 'layout/_html.twig' %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ url('auth/login') }}" />
{% endblock %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    <form class="content__auth-form auth-form" method="post" action="{{ url('auth/login') }}">
      <ul class="auth-form__links">
        <li><a href="{{ url('auth/register') }}">Register</a></li>
      </ul>

      <h1 class="auth-form__header">Login</h1>

      {% if error %}
        <p class="auth-form__error">{{ error }}</p>
      {% endif %}

      {% include 'components/form/_textfield.twig' with {
        'class': ['auth-form__field'],
        'label_class': ['auth-form__label', 'auth-form__label_hidden'],
        'input_class': ['auth-form__input'],
        'label': 'Email', 'type': 'email', 'name': 'email', 'value': email, 'required': true,
      } %}

      {% include 'components/form/_textfield.twig' with {
        'class': ['auth-form__field'],
        'label_class': ['auth-form__label', 'auth-form__label_hidden'],
        'input_class': ['auth-form__input'],
        'label': 'Password', 'type': 'password', 'name': 'password', 'value': '', 'required': true,
      } %}

      <div class="auth-form__buttons">
        <button class="button auth-form__button" type="submit">Login</button>
      </div>
    </form>
  </main>
{% endblock %}
