{% if post.file_type %}
  {% set direct_link = content_url ~ '/src/' ~ post.file %}
{% endif %}

<div class="{{ class is defined ? class ~ ' ' }}file" data-hash="{{ post.file_hex }}">
  {% include 'components/_file_info.twig' with {'class': 'post__file-info'} %}

  <span class="file__hide fas fa-window-close" title="Hide preview"></span>
  <span class="file__show far fa-plus-square hidden" title="Show hidden preview"></span>

  {% if post.thumb_width > 0 and post.thumb_height > 0 %}
    <a class="file__thumbnail thumbnail thumbnail--{{ post.file_type }}" id="thumbnail_wrapper_{{ post.id }}"
      href="{{ direct_link }}" data-width="{{ post.image_width }}" data-height="{{ post.image_height }}" target="_blank">
      <img style="height: {{ post.thumb_height }}px;" src="{{ content_url }}/thumb/{{ post.thumb }}" alt="{{ post.id }}"
        class="thumbnail__content thumbnail__content--{{ post.file_type }}" id="thumbnail_{{ post.id }}"
        width="{{ post.thumb_width }}" height="{{ post.thumb_height }}" />
    </a>
  {% endif %}
</div>
