{% macro link(title, href) %}
  {% apply spaceless %}
  <li class="menu__list-item">
    <a class="menu__link" href="{{ url(href) }}">{{ title }}</a>
  </li>
  {% endapply %}
{% endmacro %}

{% import _self as self %}

<div class="{{ class is defined ? class ~ ' ' }}menu">
  <ul class="menu__list">
    {% if user.isMod() or user.isAdmin() %}
      {{ self.link('Manage', 'admin') }}
    {% endif %}

    {{ self.link('Settings', 'settings') }}

    {% if user.isAnonymous() %}
      {{ self.link('Log In', 'auth/login') }}
      {{ self.link('Register', 'auth/register') }}
    {% else %}
      {{ self.link('Log Out', 'auth/logout') }}
    {% endif %}
  </ul>
</div>
