{% set isInThread = res != constant('INDEXPAGE') %}

{% macro nameblock(post) %}
  {% if post.subject %}
    <span class="post-header__subject filetitle">{{ post.subject }}</span>
  {% endif %}

  {% apply spaceless %}
    {% if post.name %}
      <span class="post-header__name postername">{{ post.name }}</span>
    {% elseif not post.tripcode %}
      <span class="post-header__name postername">Anonymous</span>
    {% else %}
      <span class="post-header__name postername"></span>
    {% endif %}

    {% if post.tripcode %}
      <span class="post-header__tripcode postertrip">!{{ post.tripcode }}</span>
    {% endif %}
  {% endapply %}
{% endmacro %}

{% import _self as self %}

<div class="{{ class is defined ? class ~ ' ' }}post-header">
  <a class="post-header__delete fas fa-times" href="#" title="Delete post"></a>

  <span class="post-header__name-wrapper">
    {% if post.email %}
      <a class="post-header__email" href="mailto:{{ post.email }}">
        {{ self.nameblock(post) }}
      </a>
    {% else %}
      {{ self.nameblock(post) }}
    {% endif %}
  </span>

  {% set date_iso = post.created_at|date('c') %}
  {% set date = post.created_at|date('j.m.Y H:i:s') %}

  <time class="post-header__datetime" datetime="{{ date_iso }}">
    {{ date }}
  </time>

  {% set reflink = url('res/' ~ post.parent_id ~ '#reply_' ~ post.id) %}
  {% set replylink = url('res/' ~ post.id) %}

  <span class="post-header__reflink-wrapper">
    №<a class="post-header__reflink reflink" href="{{ reflink }}" title="Reply" data-reflink="{{ post.id }}">
      {{- post.id -}}
    </a>

    <a class="post-header__hide fas fa-minus" href="#" title="Hide post"></a>

    {% if isInThread %}
      <a class="post-header__reflink-icon fas fa-reply" href="{{ reflink }}" title="Reply with quote" data-quote-reflink="{{ post.id }}"></a>
    {% endif %}

    {% if post.parent_id == 0 and not isInThread %}
      <span class="post-header__reply-wrapper">
        <a class="post-header__reply-link" href="{{ replylink }}">Reply</a>
      </span>
    {% endif %}

    {% if config('VOTES') %}
      <span class="post-header__score">
        <a class="post-header__score-up fas fa-thumbs-up" href="#" title="Vote up"></a>
        <span class="post-header__score-value{{ post.score > 0 ? ' post-header__score-value--positive' }}{{ post.score < 0 ? ' post-header__score-value--negative' }}">{{ post.score }}</span>
        <a class="post-header__score-down fas fa-thumbs-down" href="#" title="Vote down"></a>
      </span>
    {% endif %}
  </span>
</div>
