{% set isInThread = res != constant('INDEXPAGE') %}

{% macro nameblock(post) %}
  {% if post.subject %}
    <span class="post-header__subject filetitle">{{ post.subject }}</span>
  {% endif %}

  {% spaceless %}
    {% if post.name %}
      <span class="post-header__name postername">{{ post.name }}</span>
    {% elseif not post.tripcode %}
      <span class="post-header__name postername">Anonymous</span>
    {% else %}
      <span class="post-header__name postername"></span>
    {% endif %}

    {% if post.tripcode %}
      <span class="post-header__tripcode postertrip">!{{ post.tripcode }}</span>
    {% endif %}
  {% endspaceless %}
{% endmacro %}

{% import _self as self %}

<div class="{{ class is defined ? class ~ ' ' }}post-header">
  <div class="post-header__delete">
    <input type="checkbox" class="post-header__delete-input" id="delete_{{ post.id }}"
      name="delete" value="{{ post.id }}" title="Mark to delete" />
    <label class="post-header__delete-label" for="delete_{{ post.id }}">Delete post</label>
  </div>

  <span class="post-header__name-wrapper">
    {% if post.email %}
      <a class="post-header__email" href="mailto:{{ post.email }}">
        {{ self.nameblock(post) }}
      </a>
    {% else %}
      {{ self.nameblock(post) }}
    {% endif %}
  </span>

  {% set date_iso = post.created_at|date('c') %}
  {% set date = post.created_at|date('j.m.Y H:i:s') %}

  <time class="post-header__datetime" datetime="{{ date_iso }}">
    {{ date }}
  </time>

  {% set reflink = base_url ~ '/res/' ~ post.parent_id ~ '#q' ~ post.id %}
  {% set replylink = base_url ~ '/res/' ~ post.id %}

  <span class="post-header__reflink-wrapper">
    №<a class="post-header__reflink reflink" href="{{ reflink }}" data-reflink="{{ post.id }}">
      {{- post.id -}}
    </a>

    <a class="post-header__hide fas fa-times" href="#" title="Hide post"></a>

    {% if isInThread %}
      <a class="post-header__reflink-icon fas fa-reply" href="{{ reflink }}" title="Quick reply" data-reflink="{{ post.id }}"></a>
    {% endif %}

    {% if post.isThread() and not isInThread %}
      <span class="post-header__reply-wrapper">
        <a class="post-header__reply-link" href="{{ replylink }}">Reply</a>
      </span>
    {% endif %}

    {% if postNo %}
      <span class="post-header__post-no">#{{ postNo }}</span>
    {% endif %}
  </span>
</div>
