{% set isInThread = res != constant('INDEXPAGE') %}

<section id="reply_{{ post.id }}"
  class="post {{ post.parent_id == 0 ? 'content__oppost post_oppost oppost' : 'content__post post_reply reply' }}"
  data-post-id="{{ post.id }}" data-ip-hash="{{ post.ip_hash }}">
  <div class="post__inner">
    {% include 'components/_post_header_mobile.twig' with {'class': 'post__header-mobile'} %}
    {% include 'components/_post_header.twig' with {'class': 'post__header'} %}

    <div class="post__content">
      {% if post.file_type %}
        {% include 'components/_file.twig' with {'class': 'post__file-preview'} %}
      {% endif %}

      <div class="post__message message markup">
        {{ post.message }}

        {% if post.parent_id == 0 and post.omitted > 0 %}
          <p class="post__omitted">
            {{ post.omitted }} post{{ post.omitted > 1 ? 's' }} omitted. Click Reply to view.
          </p>
        {% endif %}
      </div>

      {% apply spaceless %}
      <ul class="post__refmap">
        {% for ref in post.refs_from %}
          <li class="post__refmap-item">
            <a href="#reply_{{ ref }}" data-target-post-id="{{ ref }}" class="post__refmap-link">&gt;​&gt;{{ ref }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endapply %}

      {% if isInThread %}
        <a class="post__reflink-icon fas fa-reply" href="{{ reflink }}" title="Quick reply" data-reflink="{{ post.id }}"></a>
      {% endif %}
    </div>
  </div>
</section>
