{% set isInThread = res != constant('INDEXPAGE') %}

<div class="{{ class is defined ? class ~ ' ' }}post-header-mobile">
  <div class="post-header-mobile__row">
    {% if post.subject %}
      <span class="post-header-mobile__subject">{{ post.subject }}</span>
    {% endif %}
  </div>

  <div class="post-header-mobile__row">
    {% if post.name %}
        <span class="post-header-mobile__name">{{ post.name }}</span>
    {% elseif not post.tripcode %}
        <span class="post-header-mobile__name">Anonymous</span>
    {% else %}
        <span class="post-header-mobile__name"></span>
    {% endif %}

    {% if post.tripcode %}
        <span class="post-header-mobile__tripcode">!{{ post.tripcode }}</span>
    {% endif %}

    {% set reflink = url('res/' ~ post.parent_id ~ '#reply_' ~ post.id) %}
    {% set replylink = url('res/' ~ post.id) %}

    <span class="post-header-mobile__reflink-wrapper">
      №<a class="post-header-mobile__reflink" href="{{ reflink }}" data-reflink="{{ post.id }}">
        {{- post.id -}}
      </a>

      <a class="post-header-mobile__hide fas fa-times" href="#" title="Hide post"></a>

      {% if isInThread %}
        <a class="post-header__reflink-icon fas fa-reply" href="{{ reflink }}" title="Quick reply" data-reflink="{{ post.id }}"></a>
      {% endif %}

      {% if post.parent_id == 0 and not isInThread %}
        <span class="post-header-mobile__reply-wrapper">
          <a class="post-header-mobile__reply-link" href="{{ replylink }}">Reply</a>
        </span>
      {% endif %}
    </span>
  </div>

  {% set date_iso = post.created_at|date('c') %}

  <div class="post-header-mobile__row">
    <time class="post-header-mobile__datetime" datetime="{{ date_iso }}">
      {{ post.created_at|date('j.m.Y H:i:s') }}
    </time>

    {% if post.file_type %}
      {% include 'components/_file_info.twig' with {'class': 'post-header-mobile__file-info'} %}
    {% endif %}
  </div>
</div>
