{% macro radio(label, key, value) %}
  <label class="settings-form__label">
    <input type="radio" class="settings-form__radio" name="{{ key }}"
      data-key="{{ key }}" value="{{ value }}" />
    {{ label }}
  </label>
{% endmacro %}

{% macro checkbox(label, key) %}
  <label class="settings-form__label">
    <input type="checkbox" class="settings-form__checkbox"
      data-key="{{ key }}" />
    {{ label }}
  </label>
{% endmacro %}

{% import _self as self %}

<div id="settings-form" class="content__settings-form settings-form">
  <ul class="settings-form__tabs">
    <li class="settings-form__tab" data-tab="filter">Filter</li>
    <li class="settings-form__tab" data-tab="post">Posts</li>
    <li class="settings-form__tab" data-tab="image">Images</li>
    <li class="settings-form__tab" data-tab="link">Links</li>
    <li class="settings-form__tab" data-tab="form">Form</li>
    <li class="settings-form__tab" data-tab="time">Time</li>
    <li class="settings-form__tab" data-tab="common">Common</li>
  </ul>

  <div class="settings-form__tab-content" data-tab-content="filter">
    <div class="settings-form__row">
      {{ self.checkbox('Remove hidden posts', 'filter.removeHiddenPosts') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Hide threads', 'filter.hideThreads') }}
    </div>

    <h3 class="settings-form__option-title">Hide posts by author</h3>
    <ul id="hidden-posts" class="settings-form__list"></ul>
    <button id="hidden-posts-add" class="button">Add</button>
  </div>

  <div class="settings-form__tab-content" data-tab-content="post">
    <div class="settings-form__row">
      {{ self.checkbox('Enable thread autoupdate', 'post.enableThreadAutoupdate') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Disable web sockets', 'post.disableWebSockets') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Scroll to new posts', 'post.scrollToNewPosts') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Show spoilers', 'post.showSpoilers') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Disable subscript and superscript', 'post.disableSub') }}
    </div>

    <h3 class="settings-form__option-title">Reply icon position</h3>

    <div class="settings-form__row">
      {{ self.radio('In the post header', 'post.reflinkIconPosition', 'header') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('In the right bottom corner', 'post.reflinkIconPosition', 'post') }}
    </div>

    <h3 class="settings-form__option-title">Unread posts notify</h3>

    <div class="settings-form__row">
      {{ self.radio('Disable', 'post.unreadPostsNotify.mode', 'disable') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Play once', 'post.unreadPostsNotify.mode', 'once') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Play on every new post', 'post.unreadPostsNotify.mode', 'every-post') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Play every'
          ~ ' <input type="number" min="1" data-key="post.unreadPostsNotify.interval"'
          ~ ' class="input settings-form__text" />'
          ~ ' seconds', 'post.unreadPostsNotify.mode', 'repeat') }}
    </div>

    <h4 class="settings-form__option-title">Unread posts notify sound</h4>

    <div class="settings-form__row">
      {{ self.radio('Default 1', 'post.unreadPostsNotify.type', 'default-1') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Default 2', 'post.unreadPostsNotify.type', 'default-2') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Custom'
          ~ ' <label data-key="post.unreadPostsNotify.custom"><span class="filename button"></span> <input type="file" hidden /></label>',
          'post.unreadPostsNotify.type', 'custom') }}
    </div>

    <h3 class="settings-form__option-title">Unread replies notify</h3>

    <div class="settings-form__row">
      {{ self.radio('Disable', 'post.unreadRepliesNotify.mode', 'disable') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Play once', 'post.unreadRepliesNotify.mode', 'once') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Play on every new post', 'post.unreadRepliesNotify.mode', 'every-post') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Play every'
          ~ ' <input type="number" min="1" data-key="post.unreadRepliesNotify.interval"'
          ~ ' class="input settings-form__text" />'
          ~ ' seconds', 'post.unreadRepliesNotify.mode', 'repeat') }}
    </div>

    <h4 class="settings-form__option-title">Unread replies notify sound</h4>

    <div class="settings-form__row">
      {{ self.radio('Default 1', 'post.unreadRepliesNotify.type', 'default-1') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Default 2', 'post.unreadRepliesNotify.type', 'default-2') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Custom'
          ~ ' <label data-key="post.unreadRepliesNotify.custom"><span class="filename button"></span> <input type="file" hidden /></label>',
          'post.unreadRepliesNotify.type', 'custom') }}
    </div>

    {% if config('ONESIGNAL_APPID') %}
      <h3 class="settings-form__option-title">Desktop notifications</h3>

      <button id="enable-desktop-notify">Enable desktop notifications</button>

      <p>May not work if <a href="https://onesignal.com/" target="_blank">onesignal.com</a> is blocked</p>
    {% endif %}
  </div>

  <div class="settings-form__tab-content" data-tab-content="image">
    <div class="settings-form__row">
      {{ self.checkbox('Enable NSFW mode', 'image.nsfw') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Show video overlay', 'image.showVideoOverlay') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Close image popup when clicking outside', 'image.hidePopupOnOutsideClick') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Autoplay audio &amp; video files', 'image.autoPlay') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Replace image thumbnails with original', 'image.replaceThumbnail') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox("Replace GIF thumbnails with original", 'image.replaceThumbnailGif') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox("Show modal over controls", 'image.modalAtTop') }}
    </div>

    <h3 class="settings-form__option-title">Expand images</h3>

    <div class="settings-form__row">
      {{ self.radio('In a new tab', 'image.expandImages', 'tab') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('In post', 'image.expandImages', 'post') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('In popup', 'image.expandImages', 'popup') }}
    </div>
  </div>

  <div class="settings-form__tab-content" data-tab-content="link">
    <div class="settings-form__row">
      {{ self.checkbox('Add names to the links', 'link.addNamesToLinks') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Add \'(you)\' to the links', 'link.addYouToLinks') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Show post in a popup when hovering over a link', 'link.showPostPopups') }}
    </div>
  </div>

  <div class="settings-form__tab-content" data-tab-content="form">
    <div class="settings-form__row">
      {{ self.checkbox('Save subject after posting', 'form.saveSubject') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Save name after posting', 'form.saveName') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Show markup buttons', 'form.showMarkup') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Save form floating state on page reload', 'form.saveFormState') }}
    </div>

    <h3 class="settings-form__option-title">Form Alignment</h3>

    <div class="settings-form__row">
      {{ self.radio('On the left', 'form.align', 'left') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('In the center', 'form.align', 'center') }}
    </div>

    <h3 class="settings-form__option-title">Preview Alignment</h3>

    <div class="settings-form__row">
      {{ self.radio('On the left', 'form.previewAlign', 'left') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('On the right', 'form.previewAlign', 'right') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Insert tags in pairs', 'form.insertTagsInPairs') }}
    </div>

    <h3 class="settings-form__option-title">Replaces</h3>
    <ul id="form-replaces" class="settings-form__list"></ul>
    <button id="form-replaces-add" class="button">Add</button>
  </div>

  <div class="settings-form__tab-content" data-tab-content="time">
    <h3 class="settings-form__option-title">Language</h3>

    <div class="settings-form__row">
      {{ self.radio('Browser default', 'time.locale', 'default') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Custom'
          ~ ' <input type="text" data-key="time.localeCustom"'
          ~ ' class="input settings-form__text" placeholder="en" />',
        'time.locale', 'custom') }}
    </div>

    <h3 class="settings-form__option-title">Format</h3>

    <div class="settings-form__row">
      {{ self.radio('Browser default', 'time.format', 'default') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Custom'
          ~ ' <input type="text" data-key="time.formatCustom"'
          ~ ' class="input settings-form__text" placeholder="EEE, dd MMM yyyy HH:mm:ss" />',
        'time.format', 'custom') }}
    </div>

    <p>
      See the
      <a href="https://github.com/moment/luxon/blob/master/docs/formatting.md#table-of-tokens">
        luxon documentation
      </a>
      for the custom tokens reference.
    </p>

    <h3 class="settings-form__option-title">Time zone</h3>

    <div class="settings-form__row">
      {{ self.radio('Browser default', 'time.zone', 'default') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('Fixed UTC offset'
          ~ ' <input type="number" data-key="time.zoneFixed"'
          ~ ' class="input settings-form__text" min="-99" max="99" />',
        'time.zone', 'fixed') }}
    </div>

    <h3 class="settings-form__option-title">Current format</h3>
    <p id="time-preview" class="settings-form__row"></p>
  </div>

  <div class="settings-form__tab-content" data-tab-content="common">
    <div class="settings-form__row">
      {{ self.checkbox('Smooth scrolling', 'common.smoothScroll') }}
    </div>

    <div class="settings-form__row">
      {{ self.checkbox('Show count of unread posts in title', 'common.showUnreadCountInTitle') }}
    </div>

    <h3 class="settings-form__option-title">Thread Alignment</h3>

    <div class="settings-form__row">
      {{ self.radio('On the left',  'common.layout', 'left') }}
    </div>

    <div class="settings-form__row">
      {{ self.radio('In the center', 'common.layout', 'center') }}
    </div>

    <div class="settings-form__hotkeys"></div>
  </div>

  <div class="settings-form__footer"></div>
</div>
