{% extends 'layout/_html.twig' %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ base_url }}{{ this_page ? '/' ~ this_page  }}" />
{% endblock %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    {% include 'components/_posting_form.twig' with {'class': 'content__posting-form'} %}

    <form id="delform" action="{{ base_url }}/post/delete" method="post">
      <input type="hidden" name="board" value="{{ config('BOARD') }}" />

      {% for post in posts %}
        {% if post.isThread() %}
          <hr />
        {% endif %}

        {% include 'components/_post.twig' %}
      {% endfor %}
    </form>

    <hr />

    {% include 'components/_pager.twig' with {'class': 'content__pager'} %}
    {% include 'components/_tools.twig' with {'class': 'content__tools'} %}
  </main>
{% endblock %}

{% block footer_links %}
{% endblock %}
