{% extends 'layout/_html.twig' %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    <div class="content__entity entity">
      <h1 class="entity__header">User <em><a href="mailto:{{ user.email }}">{{ user.email }}</a></em></h1>

      <table class="entity__properties">
        <tbody>
          <tr class="entity__property">
            <td class="entity__property-label">ID</td>
            <td class="entity__property-value">{{ user.id }}</td>
          </tr>

          <tr class="entity__property">
            <td class="entity__property-label">Role</td>
            <td class="entity__property-value">{{ user.role }}</td>
          </tr>
        </tbody>
      </table>

      <ul class="entity__actions actions">
        <li class="actions__action"><a class="actions__button button" href="{{ base_url }}/admin/user">Back to list</a></li>
        <li class="actions__action"><a class="actions__button button" href="{{ base_url }}/admin/user/{{ user.id }}/edit">Edit</a></li>
        <li class="actions__action"><a class="actions__button button" href="{{ base_url }}/admin/user/{{ user.id }}/delete">Delete</a></li>
      </ul>
    </div>
  </main>
{% endblock %}
