{#
  Blocks:
    - label
    - input

  Variables:
    - action
    - class
    - label_class
    - input_class
    - id
    - name
    - label
    - placeholder
    - type
    - value
    - required
#}

{% extends 'components/form/_textfield.twig' %}

{% block label %}
  {% apply spaceless %}
    <label class="{{ label_class }}"
      {% if id is defined %} for="{{ id }}" {% endif %}
    >
      <img id="captchaimage" src="{{ base_url }}/captcha" alt="CAPTCHA" />
    </label>
  {% endapply %}
{% endblock %}

{% block input %}
  {% apply spaceless %}
    <input type="{{ type }}"
      class="{{ input_class }}"
      {% if id is defined %} id="{{ id }}" {% endif %}
      {% if name is defined %} name="{{ name }}" {% endif %}
      {% if required %} required {% endif %}
      value="{{ value }}"
      placeholder="{{ placeholder }}"
    />
  {% endapply %}
{% endblock %}
