{% extends 'mobile/layout/_layout.twig' %}

{% block breadcrumbs %}
  {% spaceless %}
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ base_url }}/mobile">{{ board }}</a>
      </li>

      {% set subject = thread.subject ? thread.subject : 'Thread #' ~ thread.id %}

      {% if page == 0 %}
        <li class="breadcrumbs__item">
          <span>{{ subject }}</span>
        </li>
      {% else %}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ base_url }}/mobile/thread/{{ thread.id }}">{{ subject }}</a>
        </li>

        <li class="breadcrumbs__item">
          <span>Page {{ page + 1 }}</span>
        </li>
      {% endif %}
    </ul>
  {% endspaceless %}
{% endblock %}

{% block content %}
  {% spaceless %}
    <article class="thread" data-thread-id="{{ thread.id }}" data-thread-page="{{ page }}">
      {% if posts|length == limit %}
        <div class="thread__pagination">
          <a href="?page={{ page + 1 }}#footer">Show older posts</a>
        </div>
      {% endif %}

      <div class="thread__posts">
        {% for post in posts %}
          <section class="thread__post">
            {% include 'mobile/components/_post.twig' %}
          </section>
        {% endfor %}
      </div>

      {% if page > 0 %}
        <div class="thread__pagination">
          <a href="?page={{ page - 1 }}">Show newer posts</a>
        </div>
      {% endif %}

      {% if page == 0 %}
        <div class="thread__form">
          <h2 class="thread__form-title">Reply to thread</h2>
          {% include 'mobile/components/_form.twig' with {
            parent: thread.id,
          } %}
        </div>
      {% endif %}
    </article>
  {% endspaceless %}
{% endblock %}

{% block footer_links %}
  <li class="links__item">
    <a class="links__link" href="{{ base_url }}/res/{{ thread.id }}{{ page != 0 ? '?page=' ~ page }}">
      Full version
    </a>
  </li>
{% endblock %}
