{% extends 'amp/layout/_layout.twig' %}

{% block breadcrumbs %}
  {% spaceless %}
    <ul class="breadcrumbs">
      {% if page == 0 %}
        <li class="breadcrumbs__item">
          <span>{{ board }}</span>
        </li>
      {% else %}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ base_url }}/amp">{{ board }}</a>
        </li>

        <li class="breadcrumbs__item">
          <span>Page {{ page + 1 }}</span>
        </li>
      {% endif %}
    </ul>
  {% endspaceless %}
{% endblock %}

{% block content %}
  {% spaceless %}
    <article class="board">
      {% if page > 0 %}
        <div class="board__pagination">
          <a href="?page={{ page - 1 }}">Show newer threads</a>
        </div>
      {% endif %}

      <div class="board__posts">
        {% for post in threads %}
          <section class="board__post">
            {% include 'amp/components/_thread.twig' %}
          </section>
        {% endfor %}
      </div>

      {% if threads|length == limit %}
        <div class="board__pagination">
          <a href="?page={{ page + 1 }}">Show older threads</a>
        </div>
      {% endif %}
    </article>
  {% endspaceless %}
{% endblock %}

{% block footer_links %}
  {{ parent() }}

  <li class="links__item">
    <a class="links__link" href="{{ base_url }}/mobile{{ page != 0 ? '?page=' ~ page }}">
      Mobile version
    </a>
  </li>
{% endblock %}
