{% extends 'amp/layout/_layout.twig' %}

{% block breadcrumbs %}
  {% spaceless %}
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ base_url }}/amp">{{ board }}</a>
      </li>

      {% set subject = thread.subject ? thread.subject : 'Thread #' ~ thread.id %}

      {% if page == 0 %}
        <li class="breadcrumbs__item">
          <span>{{ subject }}</span>
        </li>
      {% else %}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ base_url }}/amp/thread/{{ thread.id }}">{{ subject }}</a>
        </li>

        <li class="breadcrumbs__item">
          <span>Page {{ page + 1 }}</span>
        </li>
      {% endif %}
    </ul>
  {% endspaceless %}
{% endblock %}

{% block content %}
  {% spaceless %}
    <article class="thread">
      <amp-live-list id="thread" {{ page != 0 ? 'disabled' }} sort="ascending"
        data-poll-interval="15000" data-max-items-per-page="{{ limit }}">
        {% if posts|length == limit %}
          <div pagination class="thread__pagination">
            <a href="?page={{ page + 1 }}#footer">Show older posts</a>
          </div>
        {% endif %}

        <div items class="thread__posts">
          {% for post in posts %}
            <section id="item_{{ post.id }}" class="thread__post"
              data-sort-time="{{ post.createTime }}"
              {% if post.updateTime %}data-update-time="{{ post.updateTime }}"{% endif %}>
              {% include 'amp/components/_post.twig' %}
            </section>
          {% endfor %}
        </div>

        <div update class="thread__update">
          <button class="button" on="tap:thread.update">New posts available. Click to load</button>
        </div>

        {% if page > 0 %}
          <div class="thread__pagination">
            <a href="?page={{ page - 1 }}">Show newer posts</a>
          </div>
        {% endif %}
      </amp-live-list>
    </article>
  {% endspaceless %}
{% endblock %}

{% block footer_links %}
  {{ parent() }}

  <li class="links__item">
    <a class="links__link" href="{{ base_url }}/mobile/thread/{{ thread.id }}{{ page != 0 ? '?page=' ~ page }}">
      Mobile version
    </a>
  </li>
{% endblock %}
