{% extends 'amp/layout/_layout.twig' %}

{% block breadcrumbs %}
  {% spaceless %}
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ base_url }}/amp">{{ board }}</a>
      </li>

      {% set subject = thread.subject ? thread.subject : 'Thread #' ~ thread.id %}

      {% if page == 0 %}
        <li class="breadcrumbs__item">
          <span>{{ subject }}</span>
        </li>
      {% else %}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ base_url }}/amp/thread/{{ thread.id }}">{{ subject }}</a>
        </li>

        <li class="breadcrumbs__item">
          <span>Page {{ page + 1 }}</span>
        </li>
      {% endif %}
    </ul>
  {% endspaceless %}
{% endblock %}

{% block content %}
  {% spaceless %}
    <article class="thread">
      <amp-live-list id="thread" {{ page != 0 ? 'disabled' }}
        data-poll-interval="15000" data-max-items-per-page="{{ limit }}">
        <div update class="thread__pagination">
          <button on="tap:thread.update">Load new posts</button>
        </div>

        {% if page > 0 %}
          <div class="thread__pagination">
            <a href="?page={{ page - 1 }}">Show newer posts</a>
          </div>
        {% endif %}

        <div items class="thread__posts">
          {% for index in 0 .. limit - 1 %}
            <section id="item_{{ index }}"
              class="thread__post{{ index >= posts|length ? ' thread__post--hidden' }}"
              data-sort-time="{{ limit - index }}" data-update-time="{{ last_updated }}">
              {% if index < posts|length %}
                {% include 'amp/components/_post.twig' with {
                  post: posts[index],
                } %}
              {% endif %}
            </section>
          {% endfor %}
        </div>

        {% if posts|length == limit %}
          <div pagination class="thread__pagination">
            <a href="?page={{ page + 1 }}">Show older posts</a>
          </div>
        {% endif %}
      </amp-live-list>
    </article>
  {% endspaceless %}
{% endblock %}
