{% set title = 'Moderation Log' %}

{% set breadcrumb = [
  { url: base_url, title: constant('TINYIB_BOARDDESC') },
  { url: base_url ~ '/admin', title: 'Admin Dashboard' },
] %}

{% set query = {
  date_from: filter.date_from,
  date_to: filter.date_to,
} %}

{% extends 'admin/layout/_html.twig' %}

{% block content %}
  <div class="list content__list">
    <div class="list__header">
      <h1 class="list__title">{{ title }}</h1>
    </div>

    <div class="list__content">
      {% set url = base_url ~ '/admin/modlog' %}
      <form class="list__filters filter" method="get" action="{{ url }}">
        <h3 class="filter__title">Filter by date</h3>

        <div class="filter__row">
          <label for="date_from" class="filter__label">From</label>
          <input type="date" class="filter__input input"
            id="date_from" name="date_from" value="{{ filter['date_from'] }}" />

          <label for="date_to" class="filter__label">to</label>
          <input type="date" class="filter__input input"
            id="date_to" name="date_to" value="{{ filter['date_to'] }}" />
        </div>

        <button type="submit" class="filter__apply button">Apply</button>
      </form>

      {% if items|length %}
        {% if pager.total_pages > 1 %}
          {% include 'admin/components/_pager.twig' with pager + {
            'class': 'list__top-pager',
          } %}
        {% endif %}

        <table class="list__table list__table--striped">
          <thead>
            <tr class="list__table-header">
              <th class="list__cell">ID</th>
              <th class="list__cell">Date</th>
              <th class="list__cell">Event</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
              <tr class="list__row">
                <th class="list__cell list__cell--nostretch" scope="row">{{ item.id }}</th>

                <td class="list__cell list__cell--nostretch">
                  {{ item.created_at|date('j.m.Y H:i:s') }}
                </td>

                <td class="list__cell">{{ item.message|raw }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if pager.total_pages > 1 %}
          {% include 'admin/components/_pager.twig' with pager + {
            'class': 'list__bottom-pager',
          } %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
