{% set query = {
  date_from: filter.date_from,
  date_to: filter.date_to,
} %}

{% if items|length %}
  {% if pager.total_pages > 1 %}
    {% include 'admin/components/_pager.twig' with pager + {
      'class': 'list__top-pager',
    } %}
  {% endif %}

  <table class="list__table list__table--striped">
    <thead>
      <tr class="list__table-header">
        <th class="list__cell">ID</th>
        <th class="list__cell">IP Address</th>
        <th class="list__cell">Set At</th>
        <th class="list__cell">Expires At</th>
        <th class="list__cell">Reason</th>
        <th class="list__cell">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
      <tr class="list__row">
        <th class="list__cell list__cell--nostretch" scope="row">{{ item.id }}</th>
        <td class="list__cell list__cell--nostretch">{{ item.ip|e }}</td>

        <td class="list__cell list__cell--nostretch">
          <time>{{ item.created_at|date('j.m.Y H:i:s') }}</time>
        </td>

        <td class="list__cell list__cell--nostretch">
          {% if not item.expires_at %}
          <span>Permanent</span>
          {% else %}
          <time>{{ item.expires_at|date('j.m.Y H:i:s') }}</time>
          {% endif %}
        </td>

        <td class="list__cell">{{ item.reason|e }}</td>

        <td class="list__cell list__cell--nostretch list__cell--center">
          {% set back = url('admin/bans?' ~ (query + { page: pager.current_page })|url_encode) %}
          {% set url = url('admin/bans/' ~ item.id ~ '/delete?back=' ~ back|e('url')) %}
          <form method="post" action="{{ url }}">
            <button class="button button--delete">Lift</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if pager.total_pages > 1 %}
    {% include 'admin/components/_pager.twig' with pager + {
      'class': 'list__bottom-pager',
    } %}
  {% endif %}
{% endif %}
