{% set query = {
  date_from: filter.date_from,
  date_to: filter.date_to,
} %}

{% if items|length %}
  {% if pager.total_pages > 1 %}
    {% include 'admin/components/_pager.twig' with pager + {
      'class': 'list__top-pager',
    } %}
  {% endif %}

  <table class="list__table list__table--striped">
    <thead>
      <tr class="list__table-header">
        <th class="list__cell">ID</th>
        <th class="list__cell">Email</th>
        <th class="list__cell">Status</th>
        <th class="list__cell">Created</th>
        <th class="list__cell">Updated</th>
        <th class="list__cell">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
      <tr class="list__row">
        <th class="list__cell list__cell--nostretch" scope="row">{{ item.id }}</th>
        <td class="list__cell"><a href="mailto:{{ item.email|e('html_attr') }}">{{ item.email|e }}</a></td>

        <td class="list__cell list__cell--nostretch">
          {% if item.role == 0 %}
          Blocked
          {% elseif item.role == 1 %}
          User
          {% elseif item.role == 2 %}
          Moderator
          {% elseif item.role == 3 %}
          Administrator
          {% else %}
          {{ item.role }}
          {% endif %}
          </td>

        <td class="list__cell list__cell--nostretch">
          {% if item.created_at %}
          <time>{{ item.created_at|date('j.m.Y H:i:s') }}</time>
          {% endif %}
        </td>

        <td class="list__cell list__cell--nostretch">
          {% if item.updated_at %}
          <time>{{ item.updated_at|date('j.m.Y H:i:s') }}</time>
          {% endif %}
        </td>

        <td class="list__cell list__cell--nostretch list__cell--center">
          <ul class="list__table-actions">
            <li class="list__table-action">
              {% set url = url('admin/users/' ~ item.id ~ '/edit') %}
              <a class="button" href="{{ url }}">Edit</a>
            </li>

            <li class="list__table-action">
              {% set back = url('admin/users?' ~ (query + { page: pager.current_page })|url_encode) %}
              {% set url = url('admin/users/' ~ item.id ~ '/delete?back=' ~ back|e('url')) %}
              <form method="post" action="{{ url }}">
                <button class="button button--delete">Delete</button>
              </form>
            </li>
          </ul>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if pager.total_pages > 1 %}
    {% include 'admin/components/_pager.twig' with pager + {
      'class': 'list__bottom-pager',
    } %}
  {% endif %}
{% endif %}
