{% set title = item.id ? 'Edit User' : 'Create User' %}

{% set breadcrumb = [
  { url: base_url, title: constant('TINYIB_BOARDDESC') },
  { url: base_url ~ '/admin', title: 'Admin Dashboard' },
  { url: base_url ~ '/admin/users', title: 'User List' },
] %}

{% extends 'admin/layout/_html.twig' %}

{% block content %}
  <div class="form content__form">
    <div class="form__header">
      <h1 class="form__title">{{ title }}</h1>
    </div>

    <div class="form__content">
      {% if error %}
      <div class="messages list__messages">
        <ul class="messages__list">
          <li class="messages__list-item messages__list-item--error">
            <span>{{ error }}</span>
          </li>
        </ul>
      </div>
      {% endif %}

      {% set url = base_url ~ '/admin/users/' ~ (item.id ? item.id ~ '/edit' : 'create') %}
      <form method="post" action="{{ url }}">
        <input type="hidden" name="id" value="{{ item.id }}" />

        <div class="form__row">
          <label class="form__label" for="email">E-Mail:</label>
          <input type="email" class="input form__input" id="email" name="email" value="{{ item.email }}" required />
        </div>

        <div class="form__row">
          <label class="form__label" for="password">Password:</label>
          <input type="password" class="input form__input" id="password" name="password" value="" />
        </div>

        <div class="form__row">
          <label class="form__label" for="role">Status:</label>
          {% set options = [
            { title: 'Blocked',       value: 0 },
            { title: 'User',          value: 1 },
            { title: 'Moderator',     value: 2 },
            { title: 'Administrator', value: 3 },
          ] %}
          <select class="input form__input" id="role" name="role">
          {% for option in options %}
            <option value="{{ option.value }}" {{ item.role == option.value ? 'selected' : '' }}>
              {{ option.title }}
            </option>
          {% endfor %}
          </select>
        </div>

        <div class="form__row form__row--centered">
          <button type="submit" class="button form__button">{{ item.id ? 'Edit user' : 'Create user' }}</button>
          <a class="button form__button" href="{{ base_url }}/admin/users">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
