{% set title = 'Post List' %}

{% set breadcrumb = [
  { url: base_url, title: constant('TINYIB_BOARDDESC') },
  { url: base_url ~ '/admin', title: 'Admin Dashboard' },
] %}

{% extends 'admin/layout/_html.twig' %}

{% block content %}
  <div class="list content__list">
    <div class="list__header">
      <h1 class="list__title">{{ title }}</h1>
    </div>

    <div class="list__content">
      {% if items|length %}
        {% if pager.total_pages > 1 %}
          {% include 'admin/components/_pager.twig' with pager + {
            'class': 'list__top-pager',
          } %}
        {% endif %}

        <table class="list__table list__table--striped">
          <thead>
            <tr class="list__table-header">
              <th class="list__cell">ID</th>
              <th class="list__cell">Thread</th>
              <th class="list__cell">Date</th>
              <th class="list__cell">Name</th>
              <th class="list__cell">Message</th>
              <th class="list__cell">User</th>
              <th class="list__cell">IP</th>
              <th class="list__cell">Actions</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
              {% set name = (item.name ~ (item.tripcode ? '!' ~ item.tripcode : ''))|truncate(20) %}
              {% set message = item.message|striptags|truncate(40) %}
              {% set user = item.user_email ? item.user_email|truncate(20) : item.user_id %}

              <tr class="list__row">
                <th class="list__cell list__cell--nostretch" scope="row">
                  <a href="{{ base_url }}/admin/posts/{{ item.id }}">{{ item.id }}</a>
                </th>

                <td class="list__cell list__cell--nostretch">
                  {% if item.parent_id %}
                    <a href="{{ base_url }}/admin/posts/{{ item.parent_id }}">{{ item.parent_id }}</a>
                  {% endif %}
                </td>

                <td class="list__cell list__cell--nostretch">{{ item.created_at|date('j.m.Y H:i:s') }}</td>
                <td class="list__cell list__cell--nostretch">{{ name|e }}</td>
                <td class="list__cell list__cell">{{ message }}</td>

                <td class="list__cell list__cell--nostretch">
                  {% if item.user_id %}
                    <a href="{{ base_url }}/admin/users/{{ item.user_id }}">{{ user|e }}</a>
                  {% endif %}
                </td>

                <td class="list__cell list__cell--nostretch">{{ item.ip }}</td>

                <td class="list__cell list__cell--nostretch list__cell--center">
                  {% set back = base_url ~ '/admin/posts' %}
                  {% set url = base_url ~ '/admin/posts/' ~ item.id ~ '/delete?back=' ~ back|e('url') %}
                  <form method="post" action="{{ url }}">
                    <button type="submit" class="button">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if pager.total_pages > 1 %}
          {% include 'admin/components/_pager.twig' with pager + {
            'class': 'list__bottom-pager',
          } %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
