{% set title = 'Post #' ~ item.id %}

{% set breadcrumb = [
  { url: url(), title: config('BOARDDESC') },
  { url: url('admin'), title: 'Admin Dashboard' },
  { url: url('admin/posts'), title: 'Post List' },
] %}

{% extends 'admin/layout/_html.twig' %}

{% block content %}
  <div class="item content__item">
    <div class="item__header">
      <h1 class="item__title">{{ title }}</h1>
    </div>

    <div class="item__content">
      <div class="item__actions">
        {% set back = url('admin/posts') %}
        {% set url = url('admin/posts/' ~ item.id ~ '/delete?back=' ~ back|e('url')) %}
        <form method="post" action="{{ url }}">
          <button type="submit" class="button">Delete</button>
        </form>
      </div>

      {% set name = (item.name ~ (item.tripcode ? '!' ~ item.tripcode : '')) %}
      {% set message = item.message|striptags %}
      {% set user = item.user_email ? item.user_email : item.user_id %}

      <table class="item__table item__table--striped">
        <tbody>
          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">ID</th>
            <td class="item__cell">{{ item.id }}</td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">Thread</th>
            <td class="item__cell">
              {% if item.parent_id %}
                <a href="{{ url('admin/posts/' ~ item.parent_id) }}">{{ item.parent_id }}</a>
              {% endif %}
            </td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">Date</th>
            <td class="item__cell">{{ item.created_at|date('j.m.Y H:i:s') }}</td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">Subject</th>
            <td class="item__cell">{{ item.subject|e }}</td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">Email</th>
            <td class="item__cell">{{ item.email|e }}</td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">Name</th>
            <td class="item__cell">{{ name|e }}</td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">Message</th>
            <td class="item__cell item__cell--multiline">{{ message }}</td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">File</th>
            <td class="item__cell">
              {% if item.file %}
                <a href="{{ url('src/' ~ item.file) }}">{{ item.file }}</a>
                ({{ item.file_original|e }}, {{ item.image_width }}x{{ item.image_height }}, {{ item.file_size }} bytes)
              {% endif %}
            </td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">User</th>
            <td class="item__cell">
              {% if item.user_id %}
                <a href="{{ url('admin/users?id=' ~ item.user_id) }}">{{ user|e }}</a>
              {% endif %}
            </td>
          </tr>

          <tr class="item__row">
            <th class="item__cell item__cell--nostretch" scope="row">IP</th>
            <td class="item__cell">{{ item.ip }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
