{% macro link(title, url) %}
  <li class="admin-bar__list-item">
    <a class="admin-bar__link" href="{{ url }}">{{ title }}</a>
  </li>
{% endmacro %}

{% import _self as self %}

<ul class="admin-bar__list">
  {% if is_manage_page %}
    {% if is_logged_in %}
      {{ self.link('Status', '?manage') }}

      {% if is_admin %}
        {{ self.link('Bans', '?manage&bans') }}
      {% endif %}

      {{ self.link('Moderate Post', '?manage&moderate') }}
      {{ self.link('Raw Post', '?manage&rawpost') }}

      {% if is_admin %}
        {{ self.link('Rebuild All', '?manage&rebuildall') }}
      {% endif %}

      {% if is_admin and is_installed_via_git %}
        {{ self.link('Update', '?manage&update') }}
      {% endif %}

      {{ self.link('Log Out', '?manage&logout') }}

      &middot;
    {% endif %}

    {{ self.link('Return', return_link) }}
  {% else %}
    {{ self.link('Manage', manage_link) }}
  {% endif %}
</ul>
