{% macro link(title, url) %}
  <li class="footer__list-item">
    <a class="footer__link" href="{{ url }}" target="_top">{{ title }}</a>
  </li>
{% endmacro %}

{% import _self as self %}

<ul class="footer__list">
  {{ self.link('futaba', 'http://www.2chan.net') }}
  {{ self.link('futallaby', 'http://www.1chan.net') }}
  {{ self.link('tinyib', 'https://github.com/tslocum/TinyIB') }}
</ul>
