{% if bans %}
  <table border="1">
    <tr>
      <th>IP Address</th>
      <th>Set At</th>
      <th>Expires</th>
      <th>Reason Provided</th>
      <th>&nbsp;</th>
    </tr>

    {% for ban in bans %}
      <tr>
        <td>{{ ban['ip'] }}</td>
        <td>{{ ban['timestamp']|date }}</td>
        <td>{{ ban['expire'] > 0 ? ban['expire']|date : 'Does not expire' }}</td>
        <td>{{ ban['reason'] ? ban['reason']|e : '&nbsp;' }}</td>
        <td><a href="?manage&bans&lift={{ ban['id'] }}">lift</a></td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
