{% set url_prefix = '/' ~ constant('TINYIB_BOARD') ~ '/' %}

{% if this_page > 0 %}
  <li class="pager__item"><a href="{{ url_prefix }}">First</a></li>
  <li class="pager__item"><a href="{{ url_prefix }}{{ this_page != 1 ? this_page - 1 }}">Previous</a></li>
{% else %}
  <li class="pager__item">First</li>
  <li class="pager__item">Previous</li>
{% endif %}

{% for i in 0..pages %}
  {% if this_page != i %}
    <li class="pager__item"><a href="{{ url_prefix }}{{ i != 0 ? i }}">{{ i }}</a></li>
  {% else %}
    <li class="pager__item">{{ i }}</li>
  {% endif %}
{% endfor %}

{% if this_page < pages %}
  <li class="pager__item"><a href="{{ url_prefix }}{{ this_page + 1 }}">Next</a></li>
  <li class="pager__item"><a href="{{ url_prefix }}{{ pages }}">Last</a></li>
{% else %}
  <li class="pager__item">Next</li>
  <li class="pager__item">Last</li>
{% endif %}
