<form name="postform" id="postform" action="imgboard.php" method="post" enctype="multipart/form-data">
  {% if uploads and constant('TINYIB_MAXKB') > 0 %}
    <input type="hidden" name="MAX_FILE_SIZE" value="{{ constant('TINYIB_MAXKB') * 1024 }}" />
  {% endif %}

  <input type="hidden" name="parent" value="{{ parent }}" />

  <table class="content__postform postform">
    <tbody>
      <tr>
        <td class="postform__block">Name</td>
        <td><input type="text" name="name" size="28" maxlength="75" accesskey="n" /></td>
      </tr>

      <tr>
        <td class="postform__block">E-mail</td>
        <td><input type="text" name="email" size="28" maxlength="75" accesskey="e" /></td>
      </tr>

      <tr>
        <td class="postform__block">Subject</td>
        <td>
          <input type="text" name="subject" size="40" maxlength="75" accesskey="s" autocomplete="off" />
          <input type="submit" value="Submit" accesskey="z" />
        </td>
      </tr>

      <tr>
        <td class="postform__block">Message</td>
        <td>
          <div class="postform__markup">
            <button class="postform__button-markup postform__button-markup_b" type="button" onclick="insertBBCode('b')"><strong>b</strong></button>
            <button class="postform__button-markup postform__button-markup_i" type="button" onclick="insertBBCode('i')"><em>i</em></button>
            <button class="postform__button-markup postform__button-markup_u" type="button" onclick="insertBBCode('u')"><span class="underline">u</span></button>
            <button class="postform__button-markup postform__button-markup_s" type="button" onclick="insertBBCode('s')"><del>s</del></button>
            <button class="postform__button-markup postform__button-markup_sup" type="button" onclick="insertBBCode('sup')"><sup>Sup</sup></button>
            <button class="postform__button-markup postform__button-markup_sub" type="button" onclick="insertBBCode('sub')"><sub>Sub</sub></button>
            <button class="postform__button-markup postform__button-markup_spoiler" type="button" onclick="insertBBCode('spoiler')"><span class="spoiler">Spoiler</span></button>
            <button class="postform__button-markup postform__button-markup_code" type="button" onclick="insertBBCode('code')"><code>Code</code></button>
            <button class="postform__button-markup postform__button-markup_rp" type="button" onclick="insertBBCode('rp')"><span class="spoiler">RP</span></button>
          </div>
          <textarea id="message" name="message" cols="48" rows="4" accesskey="m"></textarea>
        </td>
      </tr>

      {% include '_captcha.twig' %}

      {% if uploads %}
        <tr>
          <td class="postform__block">File</td>
          <td><input type="file" name="file" size="35" accesskey="f" /></td>
        </tr>
      {% endif %}

      {% if embeds %}
        <tr>
          <td class="postform__block">Embed</td>
          <td>
            <input type="text" name="embed" size="28" accesskey="x" autocomplete="off" />&nbsp;&nbsp;(paste a YouTube URL)
          </td>
        </tr>
      {% endif %}

      <tr>
        <td class="postform__block">Password</td>
        <td>
          <input type="password" name="password" id="newpostpassword" size="8" accesskey="p" />&nbsp;&nbsp;(for post and file deletion)
        </td>
      </tr>

      <tr>
        <td colspan="2" class="postform__rules rules">
          <ul class="postform__rules-list">
            {% if constant('TINYIB_REQMOD') == 'files' or constant('TINYIB_REQMOD') == 'all' %}
              <li class="postform__rules-list-item">All posts {{ constant('TINYIB_REQMOD') == 'files' ? ' with a file attached' }} will be moderated before being shown.</li>
            {% endif %}

            {% if uploads %}
              <li class="postform__rules-list-item">{{ filetypes }}</li>
            {% endif %}

            {% if uploads and constant('TINYIB_MAXKB') > 0 %}
              <li class="postform__rules-list-item">Maximum file size allowed is {{ constant('TINYIB_MAXKBDESC') }}.</li>
            {% endif %}

            {% if thumbnails %}
              <li class="postform__rules-list-item">
                Images greater than
                {{ constant('TINYIB_MAXWOP') }}x{{ constant('TINYIB_MAXHOP') }}

                {% if constant('TINYIB_MAXW') != constant('TINYIB_MAXWOP')
                  or constant('TINYIB_MAXH') != constant('TINYIB_MAXHOP') %}
                  (new thread) or {{ constant('TINYIB_MAXW') }}x{{ constant('TINYIB_MAXH') }} (reply)
                {% endif %}

                will be thumbnailed.
              </li>
            {% endif %}

            {% if unique_posts > 0 %}
              <li class="postform__rules-list-item">Currently {{ unique_posts }} unique user posts.</li>
            {% endif %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</form>
