{% macro nameblock(post) %}
  {% set name = post['name'] ?: 'Anonymous' %}

  {% if post['subject'] %}
    <span class="post-header__subject filetitle">{{ post['subject'] }}</span>
  {% endif %}

  {% spaceless %}
    <span class="post-header__name postername">{{ name }}</span>

    {% if post['tripcode'] %}
      <span class="post-header__tripcode postertrip">!{{ post['tripcode'] }}</span>
    {% endif %}
  {% endspaceless %}
{% endmacro %}

{% import _self as self %}

<a id="{{ post['id'] }}" name="{{ post['id'] }}"></a>

<input type="checkbox" class="post-header__delete" id="delete_{{ post['id'] }}"
  name="delete" value="{{ post['id'] }}" />

<label class="post-header__name-block" for="delete_{{ post['id'] }}">
  {% if post['email'] %}
    <a href="mailto:{{ post['email'] }}">
      {{ self.nameblock(post) }}
    </a>
  {% else %}
    {{ self.nameblock(post) }}
  {% endif %}
</label>

<span class="post-header__reflink-wrapper reflink">
  {% if res == constant('TINYIB_RESPAGE') %}
    <a class="post-header__reflink" href="{{ thread_id }}.html#{{ post['id'] }}">No.</a>
    <a class="post-header__reflink" href="{{ thread_id }}.html#q{{ post['id'] }}"
      onclick="javascript:quotePost('{{ post['id'] }}')">
      {{ post['id'] }}
    </a>
  {% else %}
    <a class="post-header__reflink" href="res/{{ thread_id }}.html#{{ post['id'] }}">No.</a>
    <a class="post-header__reflink" href="res/{{ thread_id }}.html#q{{ post['id'] }}">{{ post['id'] }}</a>
  {% endif %}

  {% if post[stickied] %}
    <img src="sticky.png" alt="Stickied" title="Stickied" width="16" height="16" />
  {% endif %}
</span>
