{% set is_embed = post['file_type'] == 'embed' %}
{% set url_prefix = res == constant('TINYIB_RESPAGE') ? '../' : '' %}

{% if is_embed %}
  {% set direct_link = '#' %}
{% elseif post['file_type'] %}
  {% set direct_link = url_prefix ~ 'src/' ~ post['file'] %}
{% endif %}

<div id="thumbfile_{{ post['id'] }}">
  {% if post['thumb_width'] > 0 and post['thumb_height'] > 0 %}
    <a href="{{ direct_link }}" target="_blank"
      {% if is_embed or post['file'] %}onclick="return expandFile(event, '{{ post['id'] }}');" {% endif %}>
	    <img src="thumb/{{ post['thumb'] }}" alt="{{ post['id'] }}"
        class="post__thumb" id="thumbnail_{{ post['id'] }}"
        width="{{ post['thumb_width'] }}" height="{{ post['thumb_height'] }}" />
    </a>
  {% endif %}
</div>

{% if post['file_type'] %}
  <div id="expand_{{ post['id'] }}" style="display: none;">
    {% if is_embed %}
      {{ post['file']|url_encode }}
    {% elseif post['file_type'] == 'image' %}
      {{ ('<a href="' ~ direct_link ~ '" onclick="return expandFile(event, \'' ~ post['id'] ~ '\');\">'
~ '<img src="' ~ direct_link
~ '" width="' ~ post['image_width']
~ '" style="max-width: 100%; height: auto;">'
~ '</a>')|url_encode }}
    {% elseif post['file_type'] == 'audio' or post['file_type'] == 'video' %}
      {% set dimensions = 'width="500" height="50"' %}

      {% if post['image_width'] > 0 and post['image_height'] > 0 %}
        {% set dimensions = 'width="' ~ post['image_width'] ~ '" height="' ~ post['image_height'] ~ '"' %}
      {% endif %}

      {{ ('<video ' ~ dimensions
~ ' style="position: static; pointer-events: inherit; display: inline; max-width: 100%; max-height: 100%;"'
~ ' controls autoplay loop>'
~ '<source src="' ~ direct_link ~ '"></source>'
~ '</video>')|url_encode }}
    {% endif %}
  </div>

  <div id="file_{{ post['id'] }}" class="post__file" style="display: none;"></div>
{% endif %}
