{% macro markup(id, content) %}
  <button id="markup_{{ id }}" class="postform__button-markup postform__button-markup_{{ id }}" type="button">
    {{ content }}
  </button>
{% endmacro %}

{% import _self as self %}

<form class="content__postform postform" id="postform" name="postform" action="imgboard.php" method="post" enctype="multipart/form-data">
  {% if uploads and constant('TINYIB_MAXKB') > 0 %}
    <input type="hidden" name="MAX_FILE_SIZE" value="{{ constant('TINYIB_MAXKB') * 1024 }}" />
  {% endif %}

  <input type="hidden" name="parent" value="{{ parent }}" />

  {% spaceless %}

  <table>
    <tbody>
      <tr class="postform__control postform__control_subject">
        <td class="postform__block postform__block_label">
          <label class="postform__label" for="subject">Subject</label>
        </td>
        <td class="postform__block postform__block_input">
          <input type="text" class="postform__input" id="subject" name="subject" placeholder="Subject" autocomplete="off" />
        </td>
      </tr>

      <tr class="postform__control postform__control_email">
        <td class="postform__block postform__block_label">
          <label class="postform__label" for="email">E-mail</label>
        </td>
        <td class="postform__block postform__block_input">
          <input type="text" class="postform__input" id="email" name="email" placeholder="E-mail" />
        </td>
      </tr>

      <tr class="postform__control postform__control_name">
        <td class="postform__block postform__block_label">
          <label class="postform__label" for="name">Name</label>
        </td>
        <td class="postform__block postform__block_input">
          <input type="text" class="postform__input" id="name" name="name" placeholder="Name" />
        </td>
      </tr>

      <tr class="postform__control postform__control_message">
        <td class="postform__block postform__block_label postform__block_message">
          <label class="postform__label" for="message">Message</label>
        </td>
        <td class="postform__block postform__block_input">
          <div class="postform__markup">
            {{ self.markup('b', '<strong>b</strong>') }}
            {{ self.markup('i', '<em>i</em>') }}
            {{ self.markup('u', '<span class="underline">u</span>') }}
            {{ self.markup('s', '<del>s</del>') }}
            {{ self.markup('sup', '<sup>Sup</sup>') }}
            {{ self.markup('sub', '<sub>Sub</sub>') }}
            {{ self.markup('code', '<code>Code</code>') }}
            {{ self.markup('spoiler', '<span class="spoiler">Spoiler</span>') }}
            {{ self.markup('rp', '<span class="spoiler">RP</span>') }}
            {{ self.markup('quote', '<span class="quote">&gt;</span>') }}
          </div>
          <textarea class="postform__input" id="message" name="message" placeholder="Message"></textarea>
        </td>
      </tr>

      {% include '_captcha.twig' %}

      {% if uploads %}
        <tr class="postform__control">
          <td class="postform__block postform__block_label">
            <label class="postform__label" for="file">File</label>
          </td>
          <td class="postform__block postform__block_input postform__block_file">
            <input type="file" class="postform__input postform__input_file" id="file" name="file" placeholder="File" />
            <input type="submit" class="postform__submit" value="Submit" />
          </td>
        </tr>
      {% endif %}

      {% if embeds %}
        <tr class="postform__control">
          <td class="postform__block postform__block_label">
            <label class="postform__label" for="embed">Embed</label>
          </td>
          <td class="postform__block postform__block_input">
            <input type="text" class="postform__input" id="embed" name="embed" placeholder="Embed" autocomplete="off" />
          </td>
        </tr>
      {% endif %}

      <tr class="postform__control">
        <td class="postform__block postform__block_label">
          <label class="postform__label" for="newpostpassword">Password</label>
        </td>
        <td class="postform__block postform__block_input">
          <input type="text" class="postform__input postform__input_password" id="newpostpassword" name="password" placeholder="Delete post password" />
        </td>
      </tr>

      <tr class="postform__rules rules">
        <td colspan="2">
          <ul class="postform__rules-list">
            {% if constant('TINYIB_REQMOD') == 'files' or constant('TINYIB_REQMOD') == 'all' %}
              <li class="postform__rules-list-item">All posts {{ constant('TINYIB_REQMOD') == 'files' ? ' with a file attached' }} will be moderated before being shown.</li>
            {% endif %}

            {% if uploads %}
              <li class="postform__rules-list-item">{{ filetypes }}</li>
            {% endif %}

            {% if uploads and constant('TINYIB_MAXKB') > 0 %}
              <li class="postform__rules-list-item">Maximum file size allowed is {{ constant('TINYIB_MAXKBDESC') }}.</li>
            {% endif %}

            {% if thumbnails %}
              <li class="postform__rules-list-item">
                Images greater than
                {{ constant('TINYIB_MAXWOP') }}x{{ constant('TINYIB_MAXHOP') }}

                {% if constant('TINYIB_MAXW') != constant('TINYIB_MAXWOP')
                  or constant('TINYIB_MAXH') != constant('TINYIB_MAXHOP') %}
                  (new thread) or {{ constant('TINYIB_MAXW') }}x{{ constant('TINYIB_MAXH') }} (reply)
                {% endif %}

                will be thumbnailed.
              </li>
            {% endif %}

            {% if unique_posts > 0 %}
              <li class="postform__rules-list-item">Currently {{ unique_posts }} unique user posts.</li>
            {% endif %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  {% endspaceless %}
</form>
