<a id="{{ reply['id'] }}" name="{{ reply['id'] }}"></a>

<input class="reply__delete" id="delete_{{ reply['id'] }}" type="checkbox" name="delete" value="{{ reply['id'] }}" />

<label class="reply__name-block" for="delete_{{ reply['id'] }}">
  {% if reply['subject'] %}
    <span class="filetitle">{{ reply['subject'] }}</span>
  {% endif %}

  {{ reply['nameblock'] }}
</label>

<span class="reply__reply-ref reply-ref reflink">
  {% if res == constant('TINYIB_RESPAGE') %}
    <a class="reply-ref__link" href="{{ thread_id }}.html#{{ reply['id'] }}">No.</a>
    <a class="reply-ref__link" href="{{ thread_id }}.html#q{{ reply['id'] }}"
      onclick="javascript:quotePost('{{ reply['id'] }}')">
      {{ reply['id'] }}
    </a>
  {% else %}
    <a class="reply-ref__link" href="res/{{ thread_id }}.html#{{ reply['id'] }}">No.</a>
    <a class="reply-ref__link" href="res/{{ thread_id }}.html#q{{ reply['id'] }}">{{ reply['id'] }}</a>
  {% endif %}

  {% if reply[stickied] %}
    <img src="sticky.png" alt="Stickied" title="Stickied" width="16" height="16" />
  {% endif %}
</span>
