{% set is_thread = reply['parent'] == constant('TINYIB_NEWTHREAD') %}

{% if is_embed or reply['file'] %}
  <span class="reply__file-info file-info filesize">
    {% if is_thread and reply['file'] %}
      {{ is_embed ? 'Embed: ' : 'File: ' }}
    {% endif %}

    {% if is_embed %}
      <a class="file-info__expand" href="{{ direct_link }}"
        onclick="return expandFile(event, '{{ reply['id'] }}');">
        {{ reply['file_original'] }}
      </a>
      &ndash;({{ reply['file_hex'] }})
    {% elseif reply['file'] %}
      {{ thumblink }}
      <a class="file-info__expand" href="{{ direct_link }}" target="_blank"
        {% if expand %}onclick="return expandFile(event, '{{ reply['id'] }}');"{% endif %}>
        {{ reply['file'] }}
      </a>
      &ndash;({{ reply['file_size_formatted'] }}

      {% if reply['image_width'] > 0 and reply['image_height'] > 0 %},
        {{ reply['image_width'] }}x{{ reply['image_height'] }}
      {% endif %}

      {% if constant('TINYIB_FILE_SHOW_ORIG_NAME') and reply['file_original'] %},
        {{ reply['file_original'] }}
      {% endif %})
    {% endif %}
  </span>
{% endif %}

<div id="thumbfile_{{ reply['id'] }}">
  {% if reply['thumb_width'] > 0 and reply['thumb_height'] > 0 %}
    <a href="{{ direct_link }}" target="_blank"
      {% if expand %}onclick="return expandFile(event, '{{ reply['id'] }}');" {% endif %}>
	    <img src="thumb/{{ reply['thumb'] }}" alt="{{ reply['id'] }}"
        class="reply__thumb" id="thumbnail_{{ reply['id'] }}"
        width="{{ reply['thumb_width'] }}" height="{{ reply['thumb_height'] }}" />
    </a>
  {% endif %}
</div>

{% if expandhtml %}
  <div id="expand_{{ reply['id'] }}" style="display: none;">{{ expandhtml }}</div>
  <div id="file_{{ reply['id'] }}" class="reply__thumb" style="display: none;"></div>
{% endif %}
