{% set thread_id = post['id'] %}

{% include '_file.twig' %}

<a id="{{ post['id'] }}"></a>

<label>
  <input type="checkbox" name="delete" value="{{ post['id'] }}" />

  {% if post['subject'] %}
    <span class="filetitle">{{ post['subject'] }}</span>
  {% endif %}

  {{ post['nameblock'] }}
</label>

<span class="reflink">
  {% if res == constant('TINYIB_RESPAGE') %}
    <a href="{{ thread_id }}.html#{{ post['id'] }}">No.</a>
    <a href="{{ thread_id }}.html#q{{ post['id'] }}"
      onclick="javascript:quotePost('{{ post['id'] }}')">
      {{ post['id'] }}
    </a>
  {% else %}
    <a href="res/{{ thread_id }}.html#{{ post['id'] }}">No.</a>
    <a href="res/{{ thread_id }}.html#q{{ post['id'] }}">{{ post['id'] }}</a>
  {% endif %}

  {{ post[stickied] ? '<img src="sticky.png" alt="Stickied" title="Stickied" width="16" height="16">' }}
</span>

{% if res == constant('TINYIB_INDEXPAGE') %}
  &nbsp;[<a href="res/{{ post['id'] }}.html">Reply</a>]
{% endif %}

<div class="message">
  {{ post['message'] }}
  {{ post['truncated'] ? '<br><span class="omittedposts">Post truncated. Click Reply to view.</span><br>' }}
</div>

{% if res == constant('TINYIB_INDEXPAGE') and post['omitted'] > 0 %}
  <span class="omittedposts">
    {{ post['omitted'] }} post{{ post['omitted'] > 1 ? 's' }} omitted. Click Reply to view.
  </span>
{% endif %}
