{% set thread_id = reply['id'] %}

<div class="content__reply oppost">
  {% include '_reply_file.twig' %}

  <div class="reply__header">
    {% include '_reply_header.twig' %}

    {% if res == constant('TINYIB_INDEXPAGE') %}
      &nbsp;[<a href="res/{{ reply['id'] }}.html">Reply</a>]
    {% endif %}
  </div>

  <div class="reply__message message">
    {{ reply['message'] }}
    {{ reply['truncated'] ? '<p><span class="omittedposts">Post truncated. Click Reply to view.</span></p>' }}
  </div>

  {% if res == constant('TINYIB_INDEXPAGE') and reply['omitted'] > 0 %}
    <span class="reply__omitted omittedposts">
      {{ reply['omitted'] }} post{{ reply['omitted'] > 1 ? 's' }} omitted. Click Reply to view.
    </span>
  {% endif %}
</div>
