{% set thread_id = post['id'] %}

<div class="layout__post post post_thread oppost">
  {% include '_file.twig' %}

  <div class="post__header">
    {% include '_post_header.twig' %}

    {% if res == constant('TINYIB_INDEXPAGE') %}
      &nbsp;[<a href="res/{{ post['id'] }}.html">Reply</a>]
    {% endif %}
  </div>

  <div class="post__message message">
    {{ post['message'] }}
    {{ post['truncated'] ? '<p><span class="omittedposts">Post truncated. Click Reply to view.</span></p>' }}
  </div>

  {% if res == constant('TINYIB_INDEXPAGE') and post['omitted'] > 0 %}
    <span class="post__omitted omittedposts">
      {{ post['omitted'] }} post{{ post['omitted'] > 1 ? 's' }} omitted. Click Reply to view.
    </span>
  {% endif %}
</div>
