{% extends 'layout/_manage.twig' %}

{% block manage %}
  <fieldset>
    <legend>Status</legend>

    <fieldset>
      <legend>Info</legend>

      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody><tr><td>{{ info }}</td></tr></tbody>
      </table>
    </fieldset>

    {% if reqmod_posts %}
      <fieldset>
        <legend>Pending posts</legend>

        <table border="0" cellspacing="0" cellpadding="0" width="100%">
          {% for post in reqmod_posts %}
            {% if not loop.first %}
              <tr><td colspan="2"><hr /></td></tr>
            {% endif %}

            <tr>
              <td>
                {% include 'components/_post.twig' %}
              </td>
              <td valign="top" align="right">
                <table border="0">
                  <tr>
                    <td>
                      <form method="get" action="{{ base_url }}/manage/approve/{{ post['id'] }}">
                        <input type="submit" value="Approve" class="managebutton" />
                      </form>
                    </td>

                    <td>
                      <form method="get" action="{{ base_url }}/manage/moderate/{{ post['id'] }}">
                        <input type="submit" value="More Info" class="managebutton" />
                      </form>
                    </td>
                  </tr>

                  <tr>
                    <td align="right" colspan="2">
                      <form method="get" action="{{ base_url }}/manage/delete/{{ post['id'] }}">
                        <input type="submit" value="Delete" class="managebutton" />
                      </form>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          {% endfor %}
        </table>
      </fieldset>
    {% endif %}

    <fieldset>
      <legend>Recent posts</legend>

      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        {% for post in posts %}
          {% if not loop.first %}
            <tr><td colspan="2"><hr /></td></tr>
          {% endif %}

          <tr>
            <td>
              {% include 'components/_post.twig' %}
            </td>
            <td valign="top" align="right">
              <form method="get" action="{{ base_url }}/manage/moderate/{{ post['id'] }}">
                <input type="submit" value="Moderate" class="managebutton" />
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    </fieldset>
  </fieldset>
{% endblock %}
