{% extends 'layout/_manage.twig' %}

{% set is_thread = post.isThread() %}

{% block manage %}
  <fieldset>
    <legend>Moderating No.{{ post.id }}</legend>

    <fieldset>
      <legend>Action</legend>

      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td align="right" width="50%;">
            <form method="get" action="{{ base_url }}/manage/delete/{{ post.id }}">
              <input type="submit" value="Delete {{ is_thread ? 'Thread' : 'Post' }}"
                class="managebutton" style="width: 50%;" />
            </form>
          </td>

          <td>
            <small>
              {% if is_thread %}
                This will delete the entire thread below.
              {% else %}
                This will delete the post below.
              {% endif %}
            </small>
          </td>
        </tr>

        <tr>
          <td align="right" width="50%;">
            <form method="get" action="{{ base_url }}/manage/bans">
              <input type="hidden" name="bans" value="{{ post.ip }}" />
              <input type="submit" value="Ban Poster"
                class="managebutton" style="width: 50%;"
                {{ has_ban or not is_admin ? 'disabled' }} />
            </form>
          </td>

          <td>
            <small>
              {% if not has_ban %}
                {% if not is_admin %}
                  Only an administrator may ban an IP address.
                {% else %}
                  IP address: {{ post.ip }}
                {% endif %}
              {% else %}
                A ban record already exists for {{ post.ip }}
              {% endif %}
            </small>
          </td>
        </tr>

        {% if is_thread %}
          <tr>
            <td align="right" width="50%;">
              <form method="get" action="{{ base_url }}/manage/sticky/{{ post.id }}">
                <input type="hidden" name="setsticky" value="{{ post['stickied'] ? '0' : '1' }}" />
                <input type="submit" value="{{ post['stickied'] ? 'Un-sticky' : 'Sticky' }} Thread"
                  class="managebutton" style="width: 50%;" />
              </form>
            </td>

            <td>
              <small>
                {% if post.isStickied %}
                  Return this thread to a normal state.
                {% else %}
                  Keep this thread at the top of the board.
                {% endif %}
              </small>
            </td>
          </tr>
        {% endif %}
      </table>
    </fieldset>

    <fieldset>
      <legend>{{ is_thread ? 'Thread' : 'Post' }}</legend>

      {% for post in posts %}
        {% include 'components/_post.twig' %}
      {% endfor %}
    </fieldset>
  </fieldset>
{% endblock %}
