{% set has_size = post.imageWidth > 0 and post.imageHeight > 0 %}
{% set show_name = constant('TINYIB_FILE_SHOW_ORIG_NAME') and post.fileOriginal %}

{% if post.fileType %}
  {% set direct_link = '/' ~ constant('TINYIB_BOARD') ~ '/src/' ~ post.file %}
{% endif %}

<div class="{{ class is defined ? class ~ ' ' }}file-info filesize">
  {% spaceless %}
    {% if post.file %}
      <a class="file-info__link" href="{{ direct_link }}" data-id="{{ post.id }}" target="_blank">.{{ post.fileExtension }}</a>,
      <span class="file-info__size">
        {{ post.fileSizeFormatted }}{% if has_size %},
        {{ post.imageWidth }}x{{ post.imageHeight }}{% endif %}{% if show_name %},
        {{ post.fileOriginal }}{% endif %}
      </span>
    {% endif %}
  {% endspaceless %}
</div>
