{% macro nameblock(post) %}
  {% if post['subject'] %}
    <span class="post-header__subject filetitle">{{ post['subject'] }}</span>
  {% endif %}

  {% spaceless %}
    {% if post['name'] %}
      <span class="post-header__name postername">{{ post['name'] }}</span>
    {% elseif not post['tripcode'] %}
      <span class="post-header__name postername">Anonymous</span>
    {% else %}
      <span class="post-header__name postername"></span>
    {% endif %}

    {% if post['tripcode'] %}
      <span class="post-header__tripcode postertrip">!{{ post['tripcode'] }}</span>
    {% endif %}
  {% endspaceless %}
{% endmacro %}

{% import _self as self %}

<div class="{{ class is defined ? class ~ ' ' }}post-header">
  <div class="post-header__delete">
    <input type="checkbox" class="post-header__delete-input" id="delete_{{ post['id'] }}"
      name="delete" value="{{ post['id'] }}" title="Mark to delete" />
    <label class="post-header__delete-label" for="delete_{{ post['id'] }}">Delete post</label>
  </div>

  <span class="post-header__name-wrapper">
    {% if post['email'] %}
      <a class="post-header__email" href="mailto:{{ post['email'] }}">
        {{ self.nameblock(post) }}
      </a>
    {% else %}
      {{ self.nameblock(post) }}
    {% endif %}
  </span>

  {% set date_iso = post['timestamp']|date('c') %}
  {% set date = post['timestamp']|date('l, dS F Y H:i:s') %}

  <time class="post-header__datetime" datetime="{{ date_iso }}" title="{{ date_iso }}">
    {{ date }}
  </time>

  <span class="post-header__reflink-wrapper">
    №<a class="post-header__reflink reflink" href="{{ base_url }}/res/{{ thread_id }}#q{{ post['id'] }}" data-id="{{ post['id'] }}">
      {{- post['id'] -}}
    </a>

    {% if post[stickied] %}
      <img src="{{ base_url }}/images/sticky.png" alt="Stickied" title="Stickied" width="16" height="16" />
    {% endif %}

    {% if res == constant('TINYIB_INDEXPAGE') and post['parent'] == constant('TINYIB_NEWTHREAD') %}
      <span class="post-header__reply-wrapper">
        <a class="post-header__reply-link" href="{{ base_url }}/res/{{ post['id'] }}">Reply</a>
      </span>
    {% endif %}
  </span>
</div>
