{% extends 'layout/_html.twig' %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ base_url }}/auth/register" />
{% endblock %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    <form class="content__auth-form auth-form" method="post" action="{{ base_url }}/auth/register">
      <ul class="auth-form__links">
        <li><a href="{{ base_url }}/auth/login">Login</a></li>
      </ul>

      <h1 class="auth-form__header">Register</h1>

      <p style="margin-bottom: 1em;">Для доступа к доске необходимо пройти регистрацию и дождаться подтверждения учётной записи модератором.</p>
      <p style="margin-bottom: 1em;">По любым вопросам можно писать <a href="mailto:vvatashi@national.shitposting.agency">vvatashi@national.shitposting.agency</a>, <a href="mailto:suigintoufagothread@gmail.com">suigintoufagothread@gmail.com</a>, <a href="mailto:megpoid@waifu.club">megpoid@waifu.club</a>.</p>

      {% if error %}
        <p class="auth-form__error">{{ error }}</p>
      {% endif %}

      {% include 'components/form/_textfield.twig' with {
        'class': ['auth-form__field'],
        'label_class': ['auth-form__label', 'auth-form__label_hidden'],
        'input_class': ['auth-form__input'],
        'label': 'Email', 'type': 'email', 'name': 'email', 'value': email, 'required': true,
      } %}

      {% include 'components/form/_textfield.twig' with {
        'class': ['auth-form__field'],
        'label_class': ['auth-form__label', 'auth-form__label_hidden'],
        'input_class': ['auth-form__input'],
        'label': 'Password', 'type': 'password', 'name': 'password', 'value': '', 'required': true,
      } %}

      {% include 'components/form/_captcha.twig' with {
        'class': ['auth-form__field'],
        'label_class': ['auth-form__label'],
        'input_class': ['auth-form__input'],
        'label': 'CAPTCHA', 'name': 'captcha', 'value': '', 'required': true, 'action': 'register',
      } %}

      <div class="auth-form__buttons">
        <button class="auth-form__button" type="submit">Register</button>
      </div>
    </form>
  </main>
{% endblock %}
