{% extends 'layout/_html.twig' %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ base_url }}/admin/user/create" />
{% endblock %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    <div class="content__entity entity-form">
      <h1 class="entity-form__header">Create a new user</h1>

      {% if error %}
        <p class="entity-form__error">{{ error }}</p>
      {% endif %}

      <form class="entity-form__properties" method="post" action="{{ base_url }}/admin/user/create/submit">
        {% include 'components/form/_textfield.twig' with {
          'class': ['entity-form__property'],
          'label_class': ['entity-form__property-label'],
          'input_class': ['entity-form__property-value'],
          'label': 'Email', 'type': 'email', 'name': 'email', 'required': true,
        } %}

        {% include 'components/form/_textfield.twig' with {
          'class': ['entity-form__property'],
          'label_class': ['entity-form__property-label'],
          'input_class': ['entity-form__property-value'],
          'label': 'Password', 'type': 'text', 'name': 'password', 'required': true,
        } %}

        {% include 'components/form/_textfield.twig' with {
          'class': ['entity-form__property'],
          'label_class': ['entity-form__property-label'],
          'input_class': ['entity-form__property-value'],
          'label': 'Role', 'type': 'number', 'name': 'role', 'value': '0', 'required': true,
        } %}

        <ul class="entity-form__actions actions">
          <li class="actions__action"><button class="actions__button button" type="Submit">Create</button></li>
          <li class="actions__action"><a class="actions__button button" href="{{ base_url }}/admin/user">Cancel</a></li>
        </ul>
      </form>
    </div>
  </main>
{% endblock %}
