<div id="post_{{ post.id }}" class="post">
  {% block header %}
    <div class="post__header">
      <span class="post__id">
        №{{ post.id }}
      </span>

      {% if post.subject %}
        <span class="post__subject">{{ post.subject }}</span>
      {% endif %}

      <span class="post__author">
        {% if post.email %}
          <a class="post__email" href="mailto:{{ post.email }}">
            {% if post.name %}
              <span class="post__name">{{ post.name }}</span>
            {% elseif not post.tripcode %}
              <span class="post__name">Anonymous</span>
            {% endif %}

            {% if post.tripcode %}
              <span class="post__tripcode">!{{ post.tripcode }}</span>
            {% endif %}
          </a>
        {% else %}
          {% if post.name %}
            <span class="post__name">{{ post.name }}</span>
          {% elseif not post.tripcode %}
            <span class="post__name">Anonymous</span>
          {% endif %}

          {% if post.tripcode %}
            <span class="post__tripcode">!{{ post.tripcode }}</span>
          {% endif %}
        {% endif %}
      </span>

      <time class="post__date" datetime="{{ post.createTime|date('c') }}">
        {{ post.createTime|date('d F Y H:i:s') }}
      </time>
    </div>
  {% endblock %}

  {% block content %}
    <div class="post__content">
      {% if post.fileName %}
        <amp-image-lightbox id="file_{{ post.id }}" layout="nodisplay">
        </amp-image-lightbox>

        {% set alt = 'Thumbnail #' ~ post.id %}

        {% set thumb_url = base_url ~ '/thumb/' ~ post.thumbnailName %}
        {% set thumb_w = post.thumbnailWidth %}
        {% set thumb_h = post.thumbnailHeight %}

        {% set file_url = base_url ~ '/src/' ~ post.fileName %}
        {% set file_w = post.imageWidth %}

        <amp-img class="post__thumbnail"
          on="tap:file_{{ post.id }}" role="button" tabindex="0"
          src="{{ thumb_url }}"
          srcset="{{ thumb_url }} {{ thumb_w }}w, {{ file_url }} {{ file_w }}w"
          sizes="(not all) {{ file_w }}px, {{ thumb_w }}px"
          width="{{ thumb_w }}" height="{{ thumb_h }}"
          alt="{{ alt }}">
          <noscript>
            <a href="{{ file_url }}">
              <img src="{{ thumb_url }}"
                width="{{ thumb_w }}" height="{{ thumb_h }}"
                alt="{{ alt }}">{{ alt }}</img>
            </a>
          </noscript>
        </amp-img>
      {% endif %}

      <div class="post__message">{{ post.message }}</div>
    </div>
  {% endblock %}

  {% block footer %}
    {% if post.references %}
      <div class="post__footer">
        <ul class="post__references">
          {% for reference in post.references %}
            <li class="post__reference">
              <a class="post_reference-link" href="#post_{{ reference }}">
                &gt;&gt;{{ reference }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}
</div>
